{% extends 'registration/registration_base.html' %} {% load static %} {% block content %}



        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'img/tantan-logo.jpg' %}" alt="sing up image"></figure>
                    </div>

                    <div class="signin-form d-flex justify-content-center align-items-center">
                        <div class="alert alert-success d-flex justify-content-center align-items-center" role="alert">
                            <p>حساب شما با موفقیت فعال شد.</p>
                        </div>
                        <div>
                            <a href="{% url 'login' %}" class="btn btn-primary"  style='text-decoration: none;'>ورود</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}