{% extends 'registration/registration_base.html' %} {% load static %} {% block content %}

        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'img/tantan-logo.jpg' %}" alt="sing up image"></figure>
                    </div>

                    <h2 class="form-title">تقاضای ریست رمز فرستاده شد</h2>
                    <div class="signin-form d-flex justify-content-center align-items-center">

                        <div class="alert alert-success d-flex justify-content-center align-items-center" role="alert">
                            <p> <br> دستورالعمل تنظیم رمز عبور را برای شما ایمیل کرده ایم، اگر با ایمیلی که وارد کردید حساب کاربری ای وجود داشته باشد به زودی باید این دستورالعمل ها را دریافت کنید.
                            اگر ایمیلی دریافت نکردید ، لطفاً مطمئن شوید آدرسی را که با آن ثبت نام کرده اید را وارد نموده اید و پوشه اسپم خود را بررسی کنید</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}