{% load static %}
{% load render_partial %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="Suha - Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- The above tags *must* come first in the head, any other head content must come *after* these tags-->
    <!-- Title-->
    <title>Suha - Multipurpose Ecommerce Mobile HTML Template</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'img/icons/icon-72x72.png' %}">
    <!-- Apple Touch Icon-->
    <link rel="apple-touch-icon" href="{% static 'img/icons/icon-96x96.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/icons/icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="167x167" href="{% static 'img/icons/icon-167x167.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icons/icon-180x180.png' %}">
    <!-- Stylesheet-->
    <link rel="stylesheet" href="{% static 'style-rtl.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- star ratings -->
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <!-- Web App Manifest-->
    <link rel="manifest" href="{% static 'manifest.json' %}">
  </head>
  <body>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-grow text-secondary" role="status">
        <div class="sr-only">بارگذاری...</div>
      </div>
    </div>
    <!-- Header Area-->
    <div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between">
        <!-- Logo Wrapper-->
        <div class="logo-wrapper"><a href="{% url 'shop:home' %}"><img src="{% static 'img/tantan-logo.jpg' %}" alt="" height="35rem" width="35rem" style="border-radius: 50%;"></a></div>
        <!-- Search Form-->
        <div class="top-search-form">
          <form action="{% url 'products:search' %}" method="get">
            <input class="form-control" type="search" placeholder="جستجوی محصول" value="{{ request.GET.q }}" name="q">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler d-flex flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
      </div>
    </div>
    <!-- Sidenav Black Overlay-->
    <div class="sidenav-black-overlay"></div>
    <!-- Side Nav Wrapper-->
    <div class="suha-sidenav-wrapper" id="sidenavWrapper">
      <!-- Sidenav Profile-->
      <div class="sidenav-profile">
        <div class="user-profile"><img src="{% gravatar_url user.email 150 %}" alt=""></div>
        <div class="user-info">
          <h6 class="user-name mb-0">{{ user.username }}</h6>
        </div>
      </div>
      <!-- Sidenav Nav-->
      <ul class="sidenav-nav pl-0">
        <li><a href="{% url 'account:profile' %}"><i class="lni lni-user"></i>پروفایل من</a></li>
        <li class="suha-dropdown-menu"><a href="wishlist-grid.html"><i class="lni lni-heart"></i>لیست علاقه مندی</a>
          <ul>
            <li><a href="wishlist-grid.html">- شبکه ای</a></li>
            <li><a href="wishlist-list.html">- لیستی</a></li>
          </ul>
        </li>
        <li><a href="{% url 'logout' %}"><i class="lni lni-power-switch"></i>خروج</a></li>
      </ul>
      <!-- Go Back Button-->
      <div class="go-home-btn" id="goHomeBtn"><i class="lni lni-arrow-left"></i></div>
    </div>
{#    <!-- PWA Install Alert-->#}
{#    <div class="toast pwa-install-alert shadow" id="pwaInstallToast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="8000" data-autohide="true">#}
{#      <div class="toast-body">#}
{#        <button class="ml-3 close" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#        <div class="content d-flex align-items-center mb-2"><img src="img/icons/icon-72x72.png" alt="">#}
{#          <h6 class="mb-0 text-white">افزودن به صفحه اصلی</h6>#}
{#        </div><span class="mb-0 d-block text-white">سوهارا در صفحه اصلی تلفن همراه خود اضافه کنید. بر روی<strong class="mx-1">"افزودن به صفحه اصلی"</strong>کلیک کنید</span>#}
{#      </div>#}
{#    </div>#}
    {% block content %}

    {% endblock %}
    <!-- Footer Nav-->
    <div class="footer-nav-area" id="footerNav">
      <div class="container h-100 px-0">
        <div class="suha-footer-nav h-100">
          <ul class="h-100 d-flex align-items-center justify-content-between pl-0">
            <li class="active"><a href="{% url 'shop:home' %}"><i class="lni lni-home"></i>خانه</a></li>
            <li><a href="{% url 'order:cart' %}"><i class="lni lni-shopping-basket"></i>سبد خرید</a></li>
            <li><a href="{% url 'account:profile' %}"><i class="lni lni-user"></i>پروفایل</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- All JavaScript Files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/default/jquery.passwordstrength.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jarallax.min.js' %}"></script>
    <script src="{% static 'js/jarallax-video.min.js' %}"></script>
    <script src="{% static 'js/default/dark-mode-switch.js' %}"></script>
    <script src="{% static 'js/default/no-internet.js' %}"></script>
    <script src="{% static 'js/default/active.js' %}"></script>
    <script src="{% static 'js/pwa.js' %}"></script>
    <!-- star ratings js -->
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  </body>
</html>