{% extends 'blog/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load render_partial %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load ratings %}
{% load widget_tweaks %}

{% block content %}
    <div class="page-content-wrapper">
      <!-- Product Slides-->
      <div class="product-slides owl-carousel">
        <!-- Single Hero Slide-->
        <div class="single-product-slide" style="background-image: url({{ object.image.url }}); background-position: center center; background-size: contain; background-repeat: no-repeat;"></div>
        <!-- Single Hero Slide-->
        <div class="single-product-slide" style="background-image: url('img/bg-img/10.jpg')"></div>
        <!-- Single Hero Slide-->
        <div class="single-product-slide" style="background-image: url('img/bg-img/11.jpg')"></div>
      </div>
      <div class="product-description pb-3">
        <!-- Product Title & Meta Data-->
        <div class="product-title-meta-data bg-white mb-3 py-3">
          <div class="container d-flex justify-content-between">
            <div class="p-title-price">
              <h6 class="mb-1">{{ object.title }}</h6>
              <p class="sale-price mb-0">{{  object.price }} تومان</p>
            </div>
            <div class="p-wishlist-share"><a href="wishlist-grid.html"><i class="lni lni-heart"></i></a></div>
          </div>
          <!-- Ratings-->
          <div class="product-ratings">
            <div class="container d-flex align-items-center justify-content-between">
              <div class="ratings">{% ratings object %}</div>
            </div>
          </div>
        </div>
        <!-- Flash Sale Panel-->
{#        <div class="flash-sale-panel bg-white mb-3 py-3">#}
{#          <div class="container">#}
{#            <!-- Sales Offer Content-->#}
{#            <div class="sales-offer-content d-flex align-items-end justify-content-between">#}
{#              <!-- Sales End-->#}
{#              <div class="sales-end">#}
{#                <p class="mb-1 font-weight-bold"><i class="lni lni-bolt"></i> پایان فروش فلش در</p>#}
{#                <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss-->#}
{#                <ul class="sales-end-timer pl-0 d-flex align-items-center" data-countdown="2022/01/01 14:21:37">#}
{#                  <li><span class="days">0</span>ر</li>#}
{#                  <li><span class="hours">0</span>س</li>#}
{#                  <li><span class="minutes">0</span>د</li>#}
{#                  <li><span class="seconds">0</span>ث</li>#}
{#                </ul>#}
{#              </div>#}
{#              <!-- Sales Volume-->#}
{#              <div class="sales-volume text-right">#}
{#                <p class="mb-1 font-weight-bold">82% فروخته</p>#}
{#                <div class="progress" style="height: 6px;">#}
{#                  <div class="progress-bar bg-warning" role="progressbar" style="width: 82%;" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
          <form class="cart-form" action="/order/" method="post">
              {% csrf_token %}
            <!-- Add To Cart-->
            <div class="cart-form-wrapper bg-white mb-3 py-3 w-100">
                <!-- Selection Panel-->
                <div class="selection-panel bg-white mb-3 py-3">
                  <div class="container d-flex align-items-center justify-content-between">
                    <!-- Choose Color-->
                    <div class="choose-color-wrapper">
                      <p class="mb-1 font-weight-bold">رنگ</p>
                      <div class="choose-color-radio d-flex align-items-center">
                        {% for color in object.color.all %}
                            <!-- Single Radio Input-->
{#                            <div class="form-check mb-0">#}
{#                              <input form="cart" class="form-check-input" id="{{ color.title }}" type="radio" name="colorRadio" style="background-color: {{ color.code }} !important;" value="{{ color.code }}" {{ forloop.first|yesno:'checked,' }}>#}
{#                              <label class="form-check-label" for="{{ color.title }}"></label>#}
{#                            </div>#}

                        {% endfor %}
                      {{ cart_form.color|add_class:"form-select" }}
                      </div>
                    </div>
                    <!-- Choose Size-->
                    <div class="choose-size-wrapper text-right">
                      <p class="mb-1 font-weight-bold">اندازه</p>
                      <div class="choose-size-radio d-flex align-items-center">
                        {% for size in object.size.all %}
                            <!-- Single Radio Input-->
{#                            <div class="form-check mb-0 mr-2">#}
{#                              <input form="django-form" class="form-check-input" id="{{ size.title }}" type="radio" name="sizeRadio" value="{{ size.code }}" {{ forloop.first|yesno:'checked,' }}>#}
{#                              <label class="form-check-label" for="{{ size.title }}">{{ size.title }}</label>#}
{#                            </div>#}

                        {% endfor %}
                      {{ cart_form.size|add_class:"form-select" }}
                      </div>
                    </div>
                  </div>
                </div>
              <div class="container">

                    {{ cart_form.product_id }}
{#                    <div class="order-plus-minus d-flex align-items-center">#}
    {#                  <div class="quantity-button-handler">-</div>#}
                        {{ cart_form.amount }}
    {#                  <div class="quantity-button-handler">+</div>#}
{#                    </div>#}
                  <button class="btn btn-danger ml-3" type="submit">افزودن به سبد</button>

              </div>
            </div>
          </form>
        <!-- Product Specification-->
        <div class="p-specification bg-white mb-3 py-3">
          <div class="container">
            <h6>مشخصات فنی</h6>
              <p>{{ object.description }}</p>
          </div>
        </div>
        <!-- Rating & Review Wrapper-->
        <div class="rating-and-review-wrapper bg-white py-3 mb-3">
          <div class="container">
            <h6>نظرات</h6>
            <div class="rating-review-content">
              <ul class="pl-0">
                <li class="single-user-review d-flex">
                  <div class="user-thumbnail"><img src="img/bg-img/7.jpg" alt=""></div>
                  <div class="rating-comment">
                    <div class="rating">{% ratings object %}</div>
                    <p class="comment mb-0">{% render_comments object request %} </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Internet Connection Status-->
    <div class="internet-connection-status" id="internetStatus"></div>


{% endblock %}